@media screen and (max-width: 768px) {
    body {
        background-color: #D4DCE6;
        padding: 0;
        margin: 0;
    }

    .navigation {
        margin: 0px;
        height: auto;
        width: 100vw;
        background-color: cadetblue;
        overflow: auto;
    }

    .nav-header {
        width: 100vw;
        height: 80px;
        border-bottom: 2px solid #d4dce6;
        /*border: 1px solid red;*/
        /*border:1px solid blue;*/
    }

    .nav-align {
        /*border: 1px solid red;*/
        width: 100vw;
        display:none;
        position:absolute;
        background-color: cadetblue;
    }

        .nav-align ul {
            /*border: 1px solid red;*/
            width: auto 100vw;
        }


            .nav-align ul li {
                text-align: center;
                margin-left: -40px;
                display: block;
                padding-top: 10px;
                padding-bottom: 10px;
                color: #333;
            }

    .loading {
        color: cadetblue;
        text-align: center;
        position: absolute;
        margin: -20px calc((100vw/2) - 45px);
        background: #fff;
        width: 70px;
        height: 70px;
        border-radius: 100%;
        border: 10px solid cadetblue;
        background-color: #D4DCE6;
        -webkit-box-shadow: -1px -2px 67px 25px rgba(212,220,230,0.46);
        -moz-box-shadow: -1px -2px 67px 25px rgba(212,220,230,0.46);
        box-shadow: -1px -2px 67px 25px rgba(212,220,230,0.46);
    }

        .loading div {
            font-size: 50px;
            font-weight: 100;
            margin-top: 3px;
        }

    .toggle-container {
        /*border: 1px solid blue;*/
        width: 70px;
        margin-left: calc(100vw - 80px);
        height: 100%;
        display: block;
    }

    .toggle-button {
        width: 60px;
        height: 50px;
        border: 1px solid #d4dce6;
        border-radius: 10px;
        margin-top: 25px;
        cursor:pointer;
    }

    .t-bar {
        margin-top: 5px;
        width: 40px;
        height: 4px;
        background-color: #d4dce6;
    }

    .t-bar-container {
        margin-left: 10px;
        margin-top: 8px;
    }

        .home-page {
        width: 100vw;
        height: calc(100vh - 107px);
        overflow: hidden;
        background-image: url('../Resource/home-back.png');
        background-repeat: repeat;
        /*background-color: red;*/
    }

    .home-logo {
        border: 10px solid cadetblue;
        width: 300px;
        height: 300px;
        border-radius: 100%;
        background-color: #d4dce6;
        text-align: center;
        font-size: 25px;
        color: #444;
        margin-left: calc((100vw/2) - 150px);
        margin-top: calc((100vh/2) - 150px - 100px);
        -webkit-box-shadow: 0px 0px 199px 34px rgba(95,158,160,0.95);
        -moz-box-shadow: 0px 0px 199px 34px rgba(95,158,160,0.95);
        box-shadow: 0px 0px 199px 34px rgba(95,158,160,0.95);
    }

         .home-logo div:first-child {
            margin-top: 120px;
            font-size: 35px;
        }

        .home-logo div:last-child{
            margin-top: 3px;
            font-size: 17.5px;
        }
}
